<div class="container d-flex vh-100">
  <div class="card p-4 shadow-lg">
    <h3 class="text-center mb-4">Sign up</h3>

    <%= simple_form_for(resource, as: resource_name, url: registration_path(resource_name), html: { class: "needs-validation", novalidate: true }) do |f| %>
      <%= f.error_notification %>
      <div class="form-inputs mb-3">
        <%= f.input :first_name, required: true, autofocus: true, input_html: { autocomplete: "email", class: "form-control" } %>
        <%= f.input :last_name, required: true, autofocus: true, input_html: { autocomplete: "email", class: "form-control" } %>
        <%= f.input :email, required: true, autofocus: true, input_html: { autocomplete: "email", class: "form-control" } %>
        <%= f.input :password, required: true, hint: ("#{@minimum_password_length} characters minimum" if @minimum_password_length), input_html: { autocomplete: "new-password", class: "form-control" } %>
        <%= f.input :password_confirmation, required: true, input_html: { autocomplete: "new-password", class: "form-control" } %>
      </div>

      <div class="form-actions">
        <%= f.button :submit, "Sign up", class: "btn btn-success btn-full-width rounded-btn same-height-btn mb-2" %>
        <hr class="separator">
        <%= link_to "Log in", new_session_path(resource_name), class: "btn btn-primary btn-custom btn-smaller rounded-btn same-height-btn" %>
      </div>
    <% end %>
  </div>
</div>
