<!-- _startup.html.erb -->
<div class="d-flex justify-content-center mt-3">
  <div class="container w-100">
    <div class="row align-items-stretch">
      <div class="col-md-4 border p-3 custom-card-show d-flex flex-column">
        <h5 class="card-title">Details</h5>
        <ul class="list-group mt-3">
          <li class="list-group-item"><b>Name:</b> <%= @startup.name %></li>
          <li class="list-group-item"><b>Industry:</b> <%= @startup.industry %></li>
          <li class="list-group-item"><b>HQ Location:</b> <%= @startup.hq_location %></li>
          <li class="list-group-item"><b>Website:</b> <a href="<%= @startup.homepage_url %>" target="_blank"><%= @startup.homepage_url %></a></li>
        </ul>
      </div>
      <div class="col-md-8 border p-3 custom-card-show d-flex flex-column">
        <h5 class="card-title">Description</h5>
        <p class="card-text mt-3"><%= @startup.description %></p>
      </div>
    </div>
    <div class="row align-items-stretch mt-3"> <!-- Add g-3 for gutters -->
      <div class="col-md-12 border p-3 custom-card-show d-flex flex-column custom-card-description">
        <h5 class="card-title">Comments</h5>
        <p class="card-text mt-3">No comments available.</p>
      </div>
    </div>
  </div>
</div>
