<!-- app/views/startups/favorites.html.erb -->

<div class="container" style="margin-top: 70px;">
  <h1>sourcing agent.</h1>
  <% if user_signed_in? %><%= current_user.first_name %>,<% end %>
  <p class="investments-text" style="display: inline;"><span class="count"><%= @startups.count %></span> favorite(s) selected.</p>

  <%= render 'shared/subpage' do %>
    <% @startups.each do |startup| %>
        <div class="col-lg-4 col-md-6 col-sm-12 mb-4">
          <div class="card custom-card position-relative h-100">
            <a href="<%= startup.homepage_url %>" target="_blank">
              <div class="card-img-top-container">
                <%= image_tag startup.logo_url, class: "card-img-top img-fluid", alt: "Startup logo" %>
              </div>
            </a>
            <div class="card-body">
              <h5 class="card-title"><%= startup.name %></h5>
              <hr>
              <p class="card-text">
                <b>HQ:</b> <%= startup.hq_location %><br>
                <b>Industry:</b> <%= startup.industry %><br>
                <span class="fundraise-info">
                <b class="bullets">Round:</b> <%= startup.round_name %><br>
                <b class="bullets">Amount:</b> <%= startup.last_funding %><br>
                <b class="bullets">Investors:</b>
                <span class="break-text"><%= startup.top_3_investors %></span>
                <b class="bullets">Total:</b> <%= startup.total_funding %><br><br>
                <b class="bullets">Date:</b> <%= startup.funding_date.strftime('%y-%b-%d').upcase %><br>
              </span>
              </p>
            </div>

             <div class="card-footer d-flex justify-content-center align-items-center">
              <% if user_signed_in? %>
                <a href="<%= startup_path(startup) %>" class="btn btn-primary btn-custom">
                  <i class="fas fa-info-circle"></i><span class="icon-text">More Info</span>
                </a>
              <% if current_user.favorites.exists?(startup: startup) %>
                <i class="fa-solid fa-heart heart-icon"></i> <!-- Solid heart icon for favorited -->
              <% else %>
                <i class="fa-regular fa-heart heart-icon"></i> <!-- Regular heart icon for not favorited -->
              <% end %>
              <a href="<%= startup.cb_link %>" target="_blank">
                <i class="fa-solid fa-arrow-up-right-from-square link-icon ml-2"></i>
              </a>
            <% end %>
          </div>
        </div>
      </div>
    <% end %>
  <% end %>
</div>
