<!-- app/views/startups/favorites.html.erb -->
<div class="container mt-5">
  <div class="row cards-row">
    <%= render 'shared/subpage' do %>
      <% @startups.each do |startup| %>
        <div class="col-xl-3 col-lg-3 col-md-6 col-sm-12 mb-2">
          <div class="card custom-card position-relative h-100">
            <div class="card-img-top-container">
              <%= image_tag startup.logo_url, class: "card-img-top img-fluid", alt: "Startup logo" %>
            </div>
            <div class="card-body">
              <p class="card-text">
                <b>Name:</b> <%= startup.name %><br>
                <b>HQ:</b> <%= startup.hq_location %><br>
                <b>Industry:</b> <%= startup.industry %><br>
                <b>Round:</b> <%= startup.round_name %>, USD <%= startup.last_funding %>mn<br>
                <b>Date:</b> <%= formatted_funding_date(startup.funding_date) %><br>
              </p>
            </div>
            <% if user_signed_in? %>
              <% if current_user.favorites.exists?(startup: startup) %>
                <i class="fa-solid fa-heart heart-icon"></i> <!-- Solid heart icon for favorited -->
              <% else %>
                <i class="fa-regular fa-heart heart-icon"></i> <!-- Regular heart icon for not favorited -->
              <% end %>
              <a href="<%= startup.cb_link %>" target="_blank">
                <%= image_tag 'crunchbase_logo.png', alt: 'Crunchbase Logo', class: 'crunchbase-logo ml-2' %>
              </a>
            <% end %>
          </div>
        </div>
      <% end %>
    <% end %>
  </div>
</div>
