
<!-- img link-->
<a href="<%= startup.homepage_url %>" target="_blank">
              <div class="card-img-top-container">
                <%= image_tag startup.logo_url, class: "card-img-top img-fluid", alt: "Startup logo" %>
              </div>
</a>
<!-- img link-->

<!-- Info button -->

                <a href="<%= startup_path(startup) %>" class="btn btn-primary btn-custom">
                  <i class="fas fa-info-circle"></i><span class="icon-text">More Info</span>
                </a>

<!-- Info button -->

<%= render 'shared/subpage' %>

Startup
<div class="row align-items-center">
  <div class="col-md-8 d-flex align-items-center">
    <h1><%= @startup.name %></h1>
    <% if user_signed_in? %>
      <% if current_user.favorites.exists?(startup: @startup) %>
        <i class="fa-solid fa-heart p-3"></i>
      <% else %>
        <i class="fa-regular fa-heart p-3"></i>
      <% end %>
    <% else %>
      <i class="fa-regular fa-heart p-3"></i>
    <% end %>
  </div>
  <div class="col-md-4 text-md-right text-center">
    <%= image_tag @startup.logo_url, class: "img-fluid startup-logo", alt: "Startup Logo" %>
  </div>
</div>


<div class="alfred-container-btn" data-controller="button">
  <p data-button-target="text" class="additional-text" style="display: none;">sourcing agent </p>
  <a href="/alfred" target="_blank" data-button-target="button" class="explore-btn" style="display: none;">
    Explore
  </a>
 </div>
