<div class="container" style="margin-top: 70px;">
  <h1>All our startups</h1>
  <% if user_signed_in? %><%= current_user.first_name %>,<% end %>
  <p class="investments-text" style="display: inline;"><span class="count"><%= @startups.count %></span> investments to watch for you.</p>

  <div class="navbar-wrapper">
    <nav class="custom-navbar">
      <div class="nav nav-tabs" id="nav-tab" role="tablist">
        <a class="nav-item nav-link <%= 'active' if params[:controller] == 'startups' && params[:action] == 'index' %>" id="nav-all-tab" href="<%= root_path %>" aria-controls="nav-all" aria-selected="true">All</a>
        <a class="nav-item nav-link <%= 'active' if params[:controller] == 'startups' && params[:action] == 'favorites' %>" id="nav-favorites-tab" href="<%= favorites_path %>" aria-controls="nav-favorites" aria-selected="false">Favorites</a>
      </div>
    </nav>
    </div>
</div>
