<!-- app/views/shared/_subpage.html.erb -->
<div class="navbar-wrapper">
  <nav class="custom-navbar">
    <div class="nav nav-tabs" id="nav-tab" role="tablist">
      <a class="nav-item nav-link <%= 'active' if params[:controller] == 'startups' && params[:action] == 'index' %>" id="nav-all-tab" href="<%= root_path %>" aria-controls="nav-all" aria-selected="true">All</a>
      <a class="nav-item nav-link <%= 'active' if params[:controller] == 'startups' && params[:action] == 'favorites' %>" id="nav-favorites-tab" href="<%= favorites_path %>" aria-controls="nav-favorites" aria-selected="false">Favorites</a>
    </div>
  </nav>

  <div class="tab-content cards-container" id="nav-tabContent">
    <div class="tab-pane fade show active" id="nav-<%= params[:action] == 'favorites' ? 'favorites' : 'all' %>" role="tabpanel" aria-labelledby="nav-<%= params[:action] == 'favorites' ? 'favorites' : 'all' %>-tab">
      <div class="row">
        <%= yield %>
      </div>
    </div>
  </div>
</div>
