<!-- app/views/layouts/application.html.erb -->
<!DOCTYPE html>
<html>
<head>
  <title><%= yield(:page_title).presence || "Perpetual Growth | .alfred" %></title>
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <script src="https://kit.fontawesome.com/39fe72d235.js" crossorigin="anonymous"></script>
  <%= csrf_meta_tags %>
  <%= csp_meta_tag %>
  <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
  <%= javascript_importmap_tags %>
</head>

<body>

  <% unless controller_name == 'home' && action_name == 'index' %>
    <%= render "shared/navbar" %>
    <%= render "shared/flashes" %>
  <% end %>

  <% unless controller_name == 'home' && action_name == 'index' || controller_name == 'sessions' || controller_name == 'registrations' || controller_name == 'passwords' %>
    <%= render "shared/navbar_wrapper" %>
  <% end %>

  <%= yield %>
</body>
</html>
